<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

</head>
<script>
    //로그아웃
    function logout() {
            $.removeCookie('mytoken')
            alert('로그아웃되었습니다.')
            window.location.href = '/login'
        }
</script>
<body>
<a href="/login">로그인페이지로</a>
<a href="/signup">회원가입페이지로</a>
<div>
    <button onclick="logout()">로그아웃</button>
</div>
</body>
</html>