<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- bulma CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <title>메인페이지 테스트</title>

  <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

  <style>
    * {
      font-family: 'Jua', sans-serif;
    }
  </style>

  <script>
    $(document).ready(function () {
      bsCustomFileInput.init()
      listing()
    })

    //게시글을 서버로부터 가져오는 함수
    function listing() {
      $.ajax({
        type: "GET",
        url: "/view",
        data: {},
        success: function (response) {
          let diaries = response['all_diary']

          $("#cards-box").empty();
          for (let i = 0; i < diaries.length; i++) {
            let title = diaries[i]['title']
            let content = diaries[i]['content']
            let file = diaries[i]['file']
            let time = diaries[i]['time']
            let scope = '⭐'.repeat(Number(diaries[i]['scope']))
            let address = diaries[i]['address']
            let id = diaries[i]['_id']
            console.log(diaries[i])

            let temp_html = `
                                        <div class="column is-one-quarter">
                                            <div class="card" value=${file} onclick="card_click(this)">
                                              <div class="card-image">
                                                <figure class="image is-4by3">
                                                  <img src="../static/${file}" alt="Placeholder image">
                                                </figure>
                                              </div>
                                              <div class="card-content">
                                                <div class="media" style='margin-bottom:12px;'>
                                                  <div class="media-left">
                                                    <figure class="image is-48x48">
                                                      <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                                                    </figure>
                                                  </div>
                                                  <div class="media-content">
                                                    <p class="title is-4">${title}</p>
                                                    <p class="subtitle is-6">${address}</p>
                                                  </div>
                                                </div>
                                                <p class="subtitle is-6">${scope}</p>
                                                <div class="content">
                                                  ${content}
                                                  <br><br>
                                                  <time datetime="2016-1-1">${time}</time>
                                                </div>
                                              </div>
                                            </div>
                                        </div>
                                        `
            $('#cards-box').append(temp_html)
          }
        }
      })
    }

    //검색해서 그에 맞는 게시글을 보여주는 함수
    function search() {

      let find_name =  $("select[name=find_name]").val() // 검색 종류
      let search_name = $("#search_bar").val() // 검색 값
      if(search_name != ''){
        //form_data에 검색 종류와 검색 값을 저장
        let form_data = new FormData()
        form_data.append("find_name_give", find_name)
        form_data.append("search_name_give", search_name)
        console.log(form_data)

        $.ajax({
          type: "POST",
          url: "/search",
          data: form_data,
          cache: false,
          contentType: false,
          processData: false,
          success: function (response) {
            let diaries = JSON.parse(response['all_diary'])

            $("#cards-box").empty();
            for (let i = 0; i < diaries.length; i++) {
              let title = diaries[i]['title']
              let content = diaries[i]['content']
              let file = diaries[i]['file']
              let time = diaries[i]['time']
              let scope = '⭐'.repeat(Number(diaries[i]['scope']))
              let address = diaries[i]['address']
              let id = diaries[i]['_id']

              let temp_html = `
                                          <div class="column is-one-quarter">
                                              <div class="card" value=${file} onclick="card_click(this)">
                                                <div class="card-image" >
                                                  <figure class="image is-4by3">
                                                    <img src="../static/${file}" alt="Placeholder image">
                                                  </figure>
                                                </div>
                                                <div class="card-content">
                                                  <div class="media" style='margin-bottom:12px;'>
                                                    <div class="media-left">
                                                      <figure class="image is-48x48">
                                                        <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                                                      </figure>
                                                    </div>
                                                    <div class="media-content">
                                                      <p class="title is-4">${title}</p>
                                                      <p class="subtitle is-6">${address}</p>
                                                    </div>
                                                  </div>
                                                  <p class="subtitle is-6">${scope}</p>
                                                  <div class="content">
                                                    ${content}
                                                    <br><br>
                                                    <time datetime="2016-1-1">${time}</time>
                                                  </div>
                                                </div>
                                              </div>
                                          </div>
                                          `
              $('#cards-box').append(temp_html)
            }
          }
        })
      }
    }

    function card_click(obj) {
      let url = "/post?file_name_give="+$(obj).attr("value")
      window.location.href = url

    }

  </script>
</head>

<body>
  <!--  헤더 부분 -->
  <section class="hero is-info">
    <div class="hero-body">
      <p class="title">
        Sparta Travler
      </p>
    </div>
  </section>

  <!--  검색 입략 창 -->
  <section class="section">
    <div class="field has-addons">
      <p class="control">
        <span class="select">
          <select name="find_name">
            <option value="title">제목</option>
            <option value="content">내용</option>
            <option value="address">장소</option>
          </select>
        </span>
      </p>
      <p class="control is-expanded">
        <input class="input" type="text" id="search_bar" placeholder="Amount of money">
      </p>
      <p class="control">
          <button class="button" onclick="search()">검색</button>
      </p>
    </div>
  </section>

  <!--  게시글 카드가 들어가는 공간 -->
  <section class="section">
    <div class='columns is-multiline' id="cards-box">

    </div>
  </section>

</body>

</html>