body {

    height: 100vh;
    background-image: url('https://img1.daumcdn.net/thumb/R1280x0.fjpg/?fname=http://t1.daumcdn.net/brunch/service/user/deQA/image/MUA5VDq-wd9_L7NBmrXC5aAyCd4.jpg');
    background-size: cover;
}

#title {
    font-family: 'Gowun Dodum', sans-serif;
    font-family: 'Gugi', cursive;
    font-family: 'Hi Melody', cursive;
    font-family: 'Square Peg', cursive;
    text-align: center;
    font-size: 12vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #F9FFFF;

}

#subtitle {
    font-size: 6vmin;
    text-align: center;
    font-family: 'Nanum Pen Script', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #1E3269;
}

.button.blue_btn {
    background-color: #AAB9FF;
    border-color: transparent;
    color: #46649B !important;
}

.button.white_btn {
    background-color: transparent;
    border-color: #AAB9FF;
    color: #46649B !important;
}

.box-name {
    padding: 20px 0px 10px;
    text-align: center;
    font-size: 50px;
    font-family: 'Nanum Pen Script', cursive;
}

.level {
    margin-top: 70px;
}