/*html과 다르게 <style>생략 바로 내용만 작성*/
/*폰트*/
* {
    font-family: 'Jua', sans-serif;
}

body {
    height: 200vh;
    background-image: url('https://img1.daumcdn.net/thumb/R1280x0.fjpg/?fname=http://t1.daumcdn.net/brunch/service/user/deQA/image/MUA5VDq-wd9_L7NBmrXC5aAyCd4.jpg' );
    background-size: cover;
}

.custom-file {
    margin-bottom: 10px;
}

/* ---별점 css--- */
#star fieldset {
    display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
    border: 0; /* 필드셋 테두리 제거 */
}

#star input[type=radio] {
    display: none; /* 라디오박스 감춤 */
}

#star label {
    font-size: 3em; /* 이모지 크기 */
    color: transparent; /* 기존 이모지 컬러 제거 */
    text-shadow: 0 0 0 #f0f0f0; /* 새 이모지 색상 부여 */
}

#star label:hover {
    text-shadow: 0 0 0 goldenrod; /* 마우스 호버 */
}

#star label:hover ~ label {
    text-shadow: 0 0 0 goldenrod; /* 마우스 호버 뒤에오는 이모지들 */
}

#star fieldset {
    display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
    direction: rtl; /* 이모지 순서 반전 */
    border: 0; /* 필드셋 테두리 제거 */
}

#star fieldset legend {
    text-align: left;
}

#star input[type=radio]:checked ~ label {
    text-shadow: 0 0 0 goldenrod; /* 마우스 클릭 체크 */
}

#map {
    height: 100%;
}

#_title {
    font-family: 'Gowun Dodum', sans-serif;
    font-family: 'Gugi', cursive;
    font-family: 'Hi Melody', cursive;
    font-family: 'Square Peg', cursive;
    text-align: center;
    font-size: 6vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #F9FFFF;

}

#sub_title {
    font-size: 4vmin;
    text-align: center;
    font-family: 'Nanum Pen Script', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #1E3269;
}

* {
    font-family: 'Jua', sans-serif;
}

.posting-box {
    width: 500px;
    margin-top: 20px;
    color: #46649B;
    height: 500px;
}

.wrap {
    width: 900px;
    margin: auto;
}

.container {
    padding-left: 50px;
}

.posting-box > .custom-file {
    margin-bottom: 20px;
}

.save-date {
    color: gray;
    font-size: 14px;
    margin-bottom: 0;
}

#googleMap {
    display: none;
    height: 300px;
    width: 50%;
}

#user_info {
    float: right;
}

#logout_btn {
    margin-left: 10px;
    color: white;
}

#marker_ico {
    margin-left: 10px
}

#post_box {
    margin: auto;
    display: flex;
}